* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #645cff;
  --primary-dark: #3c3799;
  --grey-light: #f1f5f9;
  --grey: #64748b;
  --grey-dark: #0f172a;
  --letter-spacing: 2px;
}

body {
  background-color: var(--grey-light);
  color: var(--grey-dark);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
}

li {
  list-style-type: none;
}

/*
**************
Nav
**************
*/
.nav {
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-center {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-header h4 {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
}

.nav-links li a:hover {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  border-bottom: 1px solid purple;
  padding-bottom: 3px;
}

/*
**************
W2-intro Demo
**************
*/

/*
**************
W3-card Demo
**************
*/
