@use 'global_38';

/*
=============== 
Navbar
===============
*/

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: var(--clr-primary-10);

  &-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  &-links {
    display: none;
  }

  &-btn {
    position: absolute;
    right: 1.5rem;
    font-size: 2rem;
    border-color: transparent;
    background-color: transparent;
    color: var(--clr-primary-5);
    cursor: pointer;
  }
}

.navbar-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: var(--light-shadow);
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .nav {
    .nav-links {
      display: flex;
      // justify-content: space-around;
      gap: 1.5rem;
      position: absolute;
      right: 3rem;
    }

    li a {
      color: var(--clr-grey-5);

      &:hover {
        color: var(--clr-primary-5);
        border-bottom: 2px solid rgba(133, 26, 26, 0.547);
      }
    }
  }

  .nav-btn {
    display: none;
  }
}

/*
=============== 
Sidebar
===============
*/

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey-10);
  z-index: 5;
  transition: var(--transition);
  transform: translateX(-100%);
  text-align: center;

  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    border-color: transparent;
    background-color: transparent;
    color: #bb2525;
    cursor: pointer;

    &:hover {
      color: #e66b6b;
    }
  }

  &-links{
    a{
      font-size: 2rem;
      text-transform: capitalize;
      color: var(--clr-grey-5);
      letter-spacing: var(--spacing);

      &:hover{
        color: var(--clr-grey-2);
      }
    }
  }

}

.show-sidebar {
  transform: translateX(0);
}

/*
=============== 
Hero
===============
*/


/*
=============== 
About
===============
*/

